name: Scrape and Push Jobs (Smart ATS)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          python -m playwright install chromium

      - name: Run Smart Scraper
        run: python jobs_smart.py

      - name: Commit results
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add job_final_hard.csv
          git commit -m "Update job_final_hard.csv" || echo "No changes"
          git push https://hardikkaushik-jpg:${{ secrets.CI_JOB_SCRAPER_GITHUB_ACTION_TOKEN }}@github.com/hardikkaushik-jpg/ci-job-scraper.git HEAD:main
