name: Scrape + Clean + Push Jobs (Automated)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"    # daily at 06:00 UTC

jobs:
  scrape_clean_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m playwright install chromium

      - name: Run scraper
        run: |
          python jobs_smart.py

      - name: Clean + Enrich data
        run: |
          python clean_jobs.py

      - name: Commit & Push Output
        env:
          PUSH_TOKEN: ${{ secrets.CI_JOB_SCRAPER_GITHUB_ACTION_TOKEN }}
        run: |
          git config --global user.email "243287379+hardikkaushik-jpg@users.noreply.github.com"
          git config --global user.name "hardikkaushik-jpg"

          git add jobs_cleaned_final_enriched.csv || true
          git commit -m "Automated scrape & clean" || echo "No changes"
          
          git push "https://x-access-token:${PUSH_TOKEN}@github.com/${{ github.repository }}" main --force
